body {
    background-color: hsl(185, 75%, 39%);
    position: relative;
    overflow: hidden;
    font-family: 'Kumbh Sans', sans-serif;
}

.background-top {
    position: relative;
    height: 250px;
}

.background-top img {
    width: 50%;
    position: absolute;
    bottom: -50%;
    left: -5%;
}

.background-bottom {
    position: relative;
    height: 250px;
}

.background-bottom img {
    width: 60%;
    background-size: cover;
    position: absolute;
    right: -10%;
    top: 30%;

}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -20rem;
}

.card {
    width: 350px;
    height: 400px;
    background-color: #fff;
    border-radius: 20px;
    position: relative;
    top: -50px;
}

.card-head {
    height: 140px;
}

.card-head-image {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.card-body {
    position: relative;
    height: 120px;
    border: 0.2px solid hsl(0, 0%, 59%);
    padding: 10px;
}

.card-profile {
    border-radius: 100%;
    border: 7px solid #fff;
    position: absolute;
    top: -4rem;
    right: 7rem;
}

.card-title {
    display: inline-block;
}

.card-title h2 {
    position: relative;
    top: 3rem;
    left: 6rem;
}

.card-title span {
    font-weight: 700;
    opacity: 0.6;
    color: hsl(0, 0%, 59%);
}

.londra {
    position: relative;
    top: 2rem;
    left: 9.5rem;
}

.card-footer {
    position: relative;
    top: 2.2rem;
    height: 120px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 10px;
}

.center {
    text-align: center;
}

.follower {
    font-weight: 700;
    font-size: 1.3rem;
}

.follower span {
    font-weight: 300;
    font-size: 1rem;
    letter-spacing: 1.5px;
    color: hsl(0, 0%, 59%);
}

@media screen and (max-width: 600px) {


    .card {
        width: 300px;
        height: 350px;
    }

    .card-head {
        height: 120px;
    }

    .card-head-image {
        width: 300px;
    }

    .card-profile{
        left: 100px;
    }

    .card-title h2 {
        top: 1.5rem;
        left: 4rem;
    }

    .card-footer{
        height: 120px;
    }

    .londra{
        top: 1rem;
        left: 7rem;
    }

    
}