* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 12px
}

body {
    background: #F0F0F0;
    height: 1000px;
    font-family: 'Lato', sans-serif;
    line-height: 18.9px;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.capital {
    text-transform: capitalize;
}

.upper {
    text-transform: uppercase;
}



#sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 30%;
    height: 100%;
    background: #fff;
    border-right-color: rgb(226, 226, 226);
    border-right-style: solid;
    border-right-width: 1px;
    z-index: 5000;
}

hr {
    border: none;
}

header {
    padding: 4.1rem;
}

.logo {
    font-size: 3rem;
    display: block;
    line-height: 100%;
    color: rgb(51, 51, 51);
}

.gri {
    width: 90px;
    height: 1px;
    border-top: 1px solid #C7C7C7;
    margin: 2.1rem 0;
}

header p {
    color: rgb(170, 170, 170);
    font-size: 1.175rem;
    display: block;
    margin-bottom: 1.6rem;
    line-height: 1.7rem;
}

header li {
    display: block;
}

header li a {
    display: block;
    font-weight: 700;
    color: #aaa;
    font-size: 1rem;
    margin: 0.4rem 0;
    letter-spacing: 1px;
    transition: color 200ms ease;
    line-height: 18.9px;
}

header li a:hover {
    color: #333;
}

.active {
    color: #333;
}

#social-group {
    margin-bottom: 12px;
    display: block;
}

#social-group a {
    color: #aaa;
    transition: color 200ms ease;
}

#social-group a:hover {
    color: #1A1A1A;
}


#social-group a i {
    font-size: 1.7rem;
    display: inline-block;
    max-width: 100%;
    width: 20px;
    margin-right: 9px;
}

.com {
    font-size: .9rem;
    letter-spacing: 1px;
    color: #aaa;
    margin-bottom: 20px;
    margin-top: 10px;
    line-height: 16px;
}

.com span {
    color: #aaa;
}

.com span:hover {
    color: #000;
}

.container {
    width: 100%;
    height: 1000px;
}

.card {
    width: 50%;
    height: 50%;
    margin: 0 auto;
    margin-top: 50px;
    position: relative;
    left: 17rem;
    background: #fff;
}

.card-body {
    padding: 35px;
}

.img-fluid {
    width: 100%;
    height: 250px;
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}

.radius {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.card-title {
    font-size: 30px;
    line-height: 37px;
    font-weight: 400;
    margin-bottom: 15px;
}

.card-text {
    display: inline;
    color: #aaa;
    font-size: 14px;
    line-height: 22px;
}

.read {
    display: inline;
    margin-left: 8px;
    transition: color 200ms ease;
    color: #aaa;
    font-size: 14px;
    line-height: 22%;
    text-decoration: underline;
}

.read:hover {
    color: #333;
}

.card-date {
    margin-top: 16px;
}

.card-date-info {
    display: inline-block;
    margin-right: 8px;
    color: #aaa;
    font-size: 10px;
    line-height: 18px;
    letter-spacing: 1px;
}

@media (max-width: 1045px) {
    #sidebar {
        position: relative;
        height: auto;
        width: 100%;
        text-align: center;
    }

    header li {
        display: inline-block;
        padding: 10px;
    }

    hr {
        display: none;
    }

    .logo {
        padding-bottom: 10px;
    }

    header {
        padding: 20px;
        margin: 0;
    }

    .container {
        position: relative;
        width: auto;
        padding: 0 15px;
    }

    .card {
        width: auto;
        height: auto;
        position: static;
    }

    header p {
        margin: 0;
    }

    .card-title{
        font-size: 26px;
    }

    .img-fluid {
        width: 100%;
    }
}