@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;700&display=swap");

/*Variables*/

:root {
    --violet: hsl(257, 40%, 49%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}


body {
    margin: 0;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    background-image: url("./images/bg-desktop.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0% 20%;
    background-color: var(--violet);
}

h1 {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    padding-right: 20px;
    line-height: 1.4;
}

p {
    opacity: 0.6;
    line-height: 1.5;
}

img {
    max-width: 100%;
}

.btn {
    border: none;
    font-weight: 500;
    border-radius: 30px;
    padding: 1em 4em;
    color: var(--violet);
    background: #fff;
    box-shadow: 1px 3px 3px 2px 15px hsl(257, 38%, 31%);
    font-size: 0.8em;
    cursor: pointer;
    margin-top: 1em;
    letter-spacing: 1px;
    font-family: 'Poppins', serif;
}

.btn:hover {
    box-shadow: none;
    background-color: hsl(300, 69%, 71%);
    color: #fff;
    transition: 1s;
}

.logo img {
    width: 15%;
    margin-top: 1em;
}

.container {
    max-width: 100%;
    width: 1200px;
    margin: 0 auto;
}

.flex {
    margin-top: 2em;
    display: flex;
}

.left {
    margin-right: 20px;
    flex-basis: 55%;
}

.right {
    color: #fff;
    margin-left: 20px;
    margin-top: 2em;
    flex-basis: 38%;
}

.social {
    text-align: right;
    margin-right: 20px;
}

.social a {
    width: 50px;
    height: 50px;
    border: 1px solid white;
    border-radius: 50%;
    padding: 7px 10px;
    color: white;
    margin-left: 10px;
}

.social a:hover {
    border-color: hsl(300, 69%, 71%);
    color: hsl(300, 69%, 71%);
    transition: all 0.3s ease;
}

@media screen and (max-width: 768px) {
    body {
        background-image: url("./images/bg-mobile.svg");
        background-size: cover;
        background-position: center center;
    }

    .logo img {
        width: 50%;
    }

    .container {
        padding: 2em 3em;
    }

    .flex {
        flex-direction: column;
    }

    .left {
        margin: 2em 0;
    }

    h1 {
        font-size: 1.8em;
    }

    .right {
        margin-left: 0;
        text-align: center;
    }


    button {
        padding-left: 5em;
        padding-right: 5em;
    }

    .social {
        text-align: center;
        margin-top: 5em;
        margin-right: 0;
    }
}