@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

:root {
	--gradient: hsl(6, 100%, 80%) to hsl(335, 100%, 65%);
	--pale-blue: hsl(243, 100%, 93%);
	--grayish-blue: hsl(229, 7%, 55%);
	--dark-blue: hsl(228, 56%, 26%);
	--very-dark-blue: hsl(229, 57%, 11%);
}

* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	box-sizing: border-box;
}

body {
	font-family: 'Raleway', sans-serif;
	background-color: var(--very-dark-blue);
	background-image: url(./images/bg-desktop.png);
	background-repeat: no-repeat;
	background-position: right 100% top -60%;
}


.container {
	display: flex;
	height: auto;
	width: 1000px;
	position: absolute;
	left: 50%;
	top: 30%;
	transform: translate(-50%, -50%);
}

.left {
	position: absolute;
	top: 40px;
	left: 10%;
	height: 180px;
	width: 320px;
	background: var(--dark-blue);
	border-radius: 12px 70px 12px 12px;
}

.right {
	position: absolute;
	right: 0;
	top: 71px;
	height: 150px;
	width: 550px;
	background: var(--dark-blue);
	border-radius: 10px;
	padding: 40px 30px;
}

#logo {
	margin-left: 2em;
	margin-top: 2em;
}

.icons {
	margin-top: 2em;
	margin-left: 2em;
}

.icons a {
	height: 100%;
	padding: 0.8em;
	background-color: var(--very-dark-blue);
	border-radius: 0.8em;
}

.icon {
	position: relative;
	top: 4px;
	left: 1px;
}

.icon1 {
	top: 5px;
	left: 2px;
}

.icon2 {
	left: 2px;
}

.icon3 {
	left: 0;
}

.mr {
	margin-right: 1em;
}

.right p:first-of-type {
	color: white;
	opacity: 0.8;
}

.right p:first-of-type span {
	font-weight: 700;
	opacity: 1;
}

.tooltip {
	position: relative;
	background-color: white;
	padding: 18px;
	left: 798px;
	top: 40px;
	border-radius: 11px 11px 0 11px;
}

.tooltip span:first-of-type{
	font-weight: 700;
	font-size: 2em;
}

.tooltip span:last-child{
	font-weight: 700;
	opacity: 0.5;
}

.tooltip::before{
	position: absolute;
	display: inline-block;
	content: "";
	height: 75px;
	width: 75px;
	background-color: #fff;
	clip-path: polygon(100% 0, 60% 0, 100% 40%);
	right: 0;
	bottom: -90%;
}

.load{
	margin-top: 1.5em;
	width: 95%;
	height: 1.2em;
	background-color: var(--very-dark-blue);
	border-radius: 1em;
}

.load::before{
	display: inline-block;
	content: "";
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: white;
	position: relative;
	left: 68%;
	top: -1px;
	z-index: 1;
}

.load::after{
	display: inline-block;
	content: "";
	width: 70%;
	height: 12px;
	background-image: linear-gradient( to right, hsl(6, 100%, 80%), hsl(335, 100%, 65%) );
	position: relative;
	left: -7px;
	bottom: 0px;
	border-radius: 1em;
}

.flex {
	padding-top: 0.4em;
	display: flex;
	justify-content: space-between;
	color: white;
	font-size: 12px;
	font-weight: 700;
	opacity: 0.7;
}

.flex span:last-of-type{
	margin-right: 2em;
}

.m-left, .m-right, .m-container{
	display: none;
}

@media screen and (max-width: 1024px){
	
	body{
		background-image: none;
	}

	.m-left, .m-right, .m-container{
		display: block;
	}

	.background-mobile{
		background-image: url(./images/bg-mobile.png);
		position: fixed;
		top: 0;
		bottom: 0;
		right: 0;
		z-index: -1;
		background-repeat: no-repeat;
		background-size: 100%;
		width: 100%;
		height: 100%;
	}

	.left{
		display: none;
	}

	.right{
		display: none;
	}

	.tooltip{
		display: none;
	}

	.m-container{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100vh;
	}

	.m-left {
		height: 200px;
		width: 325px;
		background: var(--dark-blue);
		border-radius: 12px 70px 12px 12px;
	}

	.m-logo{
		transform: translate(20%, 106%);
	}


	.m-right {
		height: 165px;
		width: 330px;
		background: var(--dark-blue);
		border-radius: 10px;
		padding: 40px 30px;
		margin-top: 50%;
	}

	.m-icons{
		transform: translate(11%, 320%);
	}

	.m-icons a{
		height: 100%;
		padding: 1em;
		background-color: var(--very-dark-blue);
		border-radius: 1em;
		margin-right: 15px;
	}

	.m-right p:first-of-type {
		color: white;
		opacity: 0.8;
	}

	.m-right p:first-of-type span {
		font-weight: 700;
		opacity: 1;
	}
	
	.m-tooltip{
		position: relative;
		background-color: white;
		left: 39px;
		top: 5px;
		border-radius: 11px;
		width: 136px;
		height: 58px;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: white;
		font-weight: 700;
		font-size: 12px;
		letter-spacing: 1px;
		text-transform: uppercase;
	}

	.m-tooltip span:last-of-type{
		display: block;
		opacity: 0.7;
		margin-left: 5px;
	}

}

