html {
    font-size: 18px;

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration-line: none;
}

body {
    font-family: 'Bai Jamjuree', sans-serif;
    line-height: 1.3;
    background-image: url(../../images/bg-header-desktop.png);
    background-repeat: no-repeat;
}

.container {
    max-height: auto;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5em auto 0 auto;

    & .__logo {
        width: 100px;
        height: 100px;
    }

    & .__title {
        font-size: 2em;
        color: $darkGrayishBlue;
        margin: 40px 0 15px 0;
    }

    & .__description {
        display: inline-block;
        max-width: 666px;
        text-align: center;
        color: $GrayishBlue;
    }

    & .__btnGroup {
        margin-top: 40px;

        & .__btn {
            margin-right: 15px;
            padding: 10px 25px;
            border-radius: 50px;
            color: #f7f7f7;
            font-weight: 600;
            font-size: 15px;
        }

        //the left margin 0
        & a:last-of-type {
            margin-right: 0;
        }
    }

    & .__title2 {
        margin-top: 5em;
        font-size: 1.7em;
    }

    & .d-1 {
        margin-top: 0.2em;
        max-width: 700px;
    }

    & .__computer {
        transform: translate(-45%, 20%);
        display: inline-block;
    }

    & .__features {
        font-size: 16px;
        padding: 3em;
        transform: translate(75%, -100%);
        max-width: 400px;


    }

    & .__features li:nth-child(odd) {
        margin-top: 3em;
        font-size: 1.2em;
        font-weight: 600;
        color: $darkGrayishBlue;
        margin-bottom: 0.8em;
    }

    & .__features li:nth-child(even) {
        font-size: 13px;
        color: $GrayishBlue;
    }

    & .__features li:first-child {
        margin-top: 0;
    }

    & .__sec {
        text-align: center;
        transform: translate(0, -30%);
    }

    & .__sec h3 {
        font-size: 1.7em;
        color: $darkGrayishBlue;
        margin-bottom: 1em;
    }

    & .__sec p {
        margin-bottom: 4em;
    }

    & .__sec img {
        width: 705px;
    }

    & .sec1 {
        transform: translate(0, -100%);
    }

    & .__specials img {
        width: 40px;
        margin-bottom: 2em;
    }

    & .__specials {
        margin: 0 auto;
        width: 90%;
        height: auto;
        display: flex;
        justify-content: center;
        transform: translate(-0%, -80%);
    }

    & .__specials .flex {
        width: 90%;
        display: flex;
        justify-content: space-evenly;
    }

    & .__specials .flex .col {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    & .__specials p:first-of-type {
        margin-bottom: 1em;
        font-size: 1.2em;
        color: $darkGrayishBlue;
        font-weight: 600;

    }

    & .__specials p:last-of-type {
        font-size: 14px;
        color: $GrayishBlue;
    }

    & .__sponsors {
        padding: 3em;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 100%;
        transform: translate(0, -20%);
    }

    & .__sponsors img {
        width: 110px;
        opacity: 0.5;
        transition: 0.3s ease;
    }

    & .__sponsors img:hover {
        opacity: 1;
    }

}

footer {
    background-color: #f0f0f03d;
    height: 120px;
    border-top: 0.5px solid #d2d2d2;
    margin-top: 3em;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    & .f_logo {
        width: 40px;
        // transform: translate(-100%, 100%);
    }

    & .menu {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-content: space-between;

        & .menu1 {
            transform: translate(-0%, 100%);
        }

        & .menu2 {
            transform: translate(-0%, 150%);
        }

    }

    & .menu a {
        color: $darkGrayishBlue;
        margin-right: 2em;
        font-size: 15px;
        transition: all 0.4s ease;
    }

    & .menu a:hover {
        color: $strongCyan;
    }

    & .socials {
        display: flex;
        align-items: center;

        & a {
            margin-left: 1em;
        }



        & img:first-of-type {
            margin-left: 0;
        }
    }
}

@media screen and (max-width:768px) {
    .container {
        width: 100%;
    }

    .container .__btnGroup .__btn {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .lightBlue {
        margin-top: 15px;
    }

    .container .__title {
        text-align: center;
        padding: 15px;
    }

    .container .d-1 {
        padding: 15px;
    }

    .container .__computer {
        transform: translate(0, 0);
        width: 75%;
        margin-top: 2em;
    }

    .container .__features {
        transform: translate(0, 0);
        text-align: center;
    }

    .container .__sec img {
        width: 75%;
    }

    .container .__sec {
        transform: translate(0, 0);
        margin: 3em 0;
    }

    .container .__specials {
        transform: translate(0, 0);
    }

    .container .__specials .flex {
        flex-direction: column;
    }

    .container .__specials .flex .col {
        margin-top: 2em;
    }

    .container .__sponsors {
        align-content: center;
        transform: translate(0, 0);
        flex-direction: column;
        padding: 2em;
    }

    .container .__sponsors img {
        margin-top: 2em;
        width: 50%;
    }

    .container .__sponsors img:first-of-type {
        margin-top: 0;
    }

    footer {
        height: 400px;
        flex-direction: column;
    }

    footer .menu {
        height: auto;
    }

    footer .menu .menu1 {
        transform: translate(0, 0);
        display: flex;
        flex-direction: column;
    }

    footer .menu .menu2 {
        transform: translate(0, 0);
        display: flex;
        flex-direction: column;
    }

    footer .menu a{
        margin-right: 0;
        margin-top: 15px;
    }
    
    footer .menu .menu2 a:last-of-type{
       margin-bottom: 2em;
    }
    footer .socials{
        margin-bottom: 3em;
    }
}